name: minify js File
on: 
  push:
    branches:
      - main

jobs:

 minifyJOB:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository
      - name: check out code
        uses: actions/checkout@v2
        
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
            node-version: '14'
      - name: Install terser
        run: npm install terser
      - name: Minify JavaScript Files
        run: |          
          folderPath="./lib" 
          for file in $folderPath/*.js
          do
          if [ $(basename "$file") != "index1.js" ] && [ $(basename "$file") != "index2.js" ]
          then         
          minifiedFile=$(basename "$file" .js)-min.js
          npx terser --compress --mangle --output "$minifiedFile" -- "$file"
          echo "Minified and saved as $minifiedFile"
          echo "$(basename "$file")"
          cd $folderPath
          git add $folderPath/$minifiedFile
          git commit -m "add new file"
          git push 
          fi
          done
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}              
 echo_minified_files:
   runs-on: ubuntu-latest
   needs: minifyJOB
   steps:
   - name: List Minified Files
     run: |
       folderPath="./lib"
       minifiedFiles=(./lib/*-min.js)
       echo "Minified files in $folderPath:"
         for file in $minifiedFiles
         do
           echo "$(basename "$file")"
         done 
