name: minify js File
on: 
  push:
    branches:
      - main

jobs:

 minifyJOB:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository
      - name: check out code
        uses: actions/checkout@v2
        
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
            node-version: '14'  # Set the Node.js version you want to use
      - name: Install terser
        run: npm install terser
      - name: Minify JavaScript Files
        run: |
          folderPath="./lib"  #Set the path to your JavaScript files folder
          for file in $folderPath/*.js
          do
          # Check if the file is not index1.js or index2.js
          if [ $(basename "$file") != "index1.js" ] && [ $(basename "$file") != "index2.js" ]
          then
          # Minify the JavaScript file
          minifiedFile=$(basename "$file" .js)-min.js
          touch $minifiedFile
          npx terser --compress --mangle --output "./lib/$minifiedFile" -- "$file"
          echo "Minified and saved as $minifiedFile"
          echo "$(basename "$file")"
          fi
          done
