name: minify js File
on: 
  workflow_dispatch:

jobs:

 minifyJOB:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository
      - name: check out code
        uses: actions/checkout@v2
        
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
            node-version: '14'
      - name: Install terser
        run: npm install terser
      - name: Minify JavaScript Files
        run: |   
          git config --global user.email "sharma_srishti@amicusglobal.com"
          git config --global user.name "Srishti556"
          folderPath="./lib" 
          for file in $folderPath/*.js
          do
          if [ $(basename "$file") != "index1.js" ] && [ $(basename "$file") != "index2.js" ]
          then         
          minifiedFile=$(basename "$file" .js)-min.js
          npx terser --compress --mangle --output "$minifiedFile" -- "$file"
          echo "Minified and saved as $minifiedFile"
          echo "$(basename "$file")"
          
          
          mv $minifiedFile $folderPath/
          git add $folderPath/$minifiedFile
          git commit -m "add new file"
          git push 
          fi
          done
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}              
 echo_minified_files:
   runs-on: ubuntu-latest
   needs: minifyJOB
   steps:
   - name: List Minified Files
     run: |
       folderPath="./lib"
       echo "Minified files in $folderPath:"
       for file in $folderPath/*-min.js
       do
       echo "$(basename "$file")"
       done
